@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CONTACTENOS POR NUESTRA LINEA TELEFONIA 098765432, PREGUNTAR POR MELANY AGUILAR melanyaguilas123@gmail.com</p>
