@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    La Vicentina Baja<br />
    Quito-Ecuador<br />
    <abbr title="Phone">Telefonos:</abbr>
    0987654321
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">NoHayPaginaDeSoporte@hi5.com</a><br />
    <strong>Dudas Enviar un correo a:</strong> <a href="mailto:Marketing@example.com">steeven.teran@udla.edu.ec</a>
</address>